@using FlaveSite.Core.Projects

@Html.Partial("Partials/SideNavigationMenu")

<div class="admin-content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary admin-panel">
                <h4> Add New Project</h4>
                
                @using (Html.BeginForm("AddProject", "Admin", FormMethod.Post, new {id = "addProjectForm", @class = "form-group"}))
                {
                    <div class="row">
                        <div class="col-sm-1">
                            @Html.Label("Title", "Title", new { @class = "form-label admin-panel-form-label"})
                        </div>
                        <div class="col-sm-11">
                            @Html.TextBox("Title", null, new { @class = "form-control admin-panel-form-input" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1">
                            @Html.Label("Description", "Description", new { @class = "form-label admin-panel-form-label" })
                        </div>
                        <div class="col-sm-11">
                            @Html.TextArea("Description", null, new { @class = "form-control admin-panel-form-input" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1">
                            @Html.Label("Date", "Date", new { @class = "form-label admin-panel-form-label" })
                        </div>
                        <div class="col-sm-11">
                            @Html.TextBox("Date", null, new {@class = "form-control admin-panel-form-input", type = "date"})
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <button class="btn btn-primary" style="float: right" type="submit">Add Project</button>
                        </div>    
                    </div>
                }

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary admin-panel">
                    <span> Project Edit List</span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary admin-panel">
                <span> Project Stats</span>
            </div>
        </div>
    </div>
</div>