@using FlaveSite.Core.Projects.Records
@using Microsoft.AspNetCore.Mvc.Rendering
@model FlaveSite.Core.Projects.Records.ProjectRecord

@Html.Partial("Navbar")
<div class="header-details" style="background-image: url(@Model.ImageUrl)"></div>
<div class="header-details-content">
    <div class="row" style="top: 50%">
        <div class="col-md-4"></div>
        <div class="col-md-4 header-profile">
            <span class="header-profile-title"> @Model.Title </span>  
        </div>
        <div class="col-md-4"></div>
    </div>
</div>


<div class="container body-content" style="">
    @if (string.IsNullOrEmpty(Model.VideoUrl) == false)
    {
        <div class="video-container">
            <iframe width="80%" style="min-height: 500px;" src="@Model.VideoUrl">
            </iframe>
        </div>
    }

    <div class="row image-list-container">
        @if (Model.Images.Count > 0)
        {
            <h2>Images</h2>
            foreach (var image in Model.Images)
            {
                <div class="col-md-2">
                    <img class="image-list-item" src="@image" />
                </div>
            }
        }
    </div>
    
    <h3>Description</h3>
    <span style="font-family: Arial">@Html.Raw(Model.Description)</span>
    
    @if (Model.Files.Count > 0)
    {
        <h3>Files</h3>
        <p>
            @foreach (string file in Model.Files)
            {
                var fileName = file.Split('/').Last();
                <a href="@file">@fileName</a>
                <br />
            }
        </p>
    }

    @if (Model.AdditionalMembers.Count > 0)
    {
        <h3>Other Team Members</h3>
        <p>
            @foreach (Author teamMember in Model.AdditionalMembers)
            {
                <a href="@teamMember.Url">@teamMember.Name</a>
                <br/>
            }
        </p>
    }
</div>

@Html.Partial("MainFooter")