@using Microsoft.AspNetCore.Mvc.Rendering
@model List<FlaveSite.Core.Blogs.BlogInfo>

<div class="header-background"></div>
<div class="header-profile-content">
    <div class="row" style="top: 50%">
        <div class="col-md-4"></div>
        <div class="col-md-4 header-profile">
            <div class="header-profile-image img-circle"></div>
            <span class="header-profile-title"> David Smith. Games Programmer. </span>  
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
@Html.Partial("Navbar")


<div class="container body-content">
    <h2>@ViewData["Title"]</h2>
    
    @foreach (var blog in Model)
    {
        <div class="row">
            <div class="col-md-12">
                <a href="@Url.Action("BlogDetails", "Blog", new { blogId = blog.Id })">
                    <div class="panel panel-primary blog-panel">
                        <h4> @blog.Title</h4>
                    </div>
                </a>
            </div>
        </div>
    }
</div>

@Html.Partial("MainFooter")